NEXT_PUBLIC_AWS_REGION=
NEXT_PUBLIC_AWS_COGNITO_USERPOOL_ID=
NEXT_PUBLIC_AWS_COGNITO_USERPOOL_CLIENT_ID=
NEXT_PUBLIC_AWS_COGNITO_TEST_EMAIL=
NEXT_PUBLIC_AWS_ACCESS_KEY_ID=
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY=
# NEXT_PUBLIC_AWS_COGNITO_TEST_EMAIL=fake@gmail.com

# local-dev skips auth
NEXT_PUBLIC_ENV_NAME=local-dev
NEXT_PUBLIC_COGNITO_OPENID_CONF_URI=http://localhost:8001/default_issuer/.well-known/openid-configuration
NEXT_PUBLIC_BACKEND_BASE_URL=http://0.0.0.0:4000
NEXT_PUBLIC_DUMMY_ACCESS_TOKEN=eyJraWQiOiJkZWZhdWx0X2lzc3VlciIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiJ1c2VyIiwiYXVkIjoidXNlciIsIm5iZiI6MTcxODg4NjI5NCwiY29nbml0bzpncm91cHMiOlsiZnV0dXJlcy1hbmFseXN0cyIsInJldmlld2VycyJdLCJzY29wZSI6ImF3cy5jb2duaXRvLnNpZ25pbi51c2VyLmFkbWluIG9wZW5pZCBzaWduYWwtc3RvcmUvcmVhZCBwcm9maWxlIHNpZ25hbC1zdG9yZS93cml0ZSBkaXNjb3Zlcnktc2VhcmNoL3JlYWQgZW1haWwiLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMDEvZGVmYXVsdF9pc3N1ZXIiLCJleHAiOjE3MTg4OTIyOTQsImlhdCI6MTcxODg4NjI5NCwianRpIjoiYTk1NjIxZDgtMzkzOC00NmU5LWJkNjEtNGY5YTlkYjAyNzlhIiwiZW1haWwiOiJ1c2VyQG5vdGFyZWFsdXNlci5jb20ifQ.jLsAoVGl72fsxhpNwdYOE32MZB2MVxtGaPoSxTZG2o5TW2HCkdd7k-wH8T7lMJb4Bg9G_whbgCN2MSJRtFr-NQisriF1ja4iUN-UGMjqBHdGTdOPZXFxa4gOmDYD4C-t7d2-mVXS3mxm7Ee_02OvRa_oNLp9TEnZQVKJEoDmQC0Ie0dqptofVWpvttBhzMZYhcI4v4g9I-XB3mHiqfeQHAaIYQVEXUa5nnPYu7Q-AIctnjWzWzT7j0OW3Vku971da2NEWTGL9Q0gdrYeT2dJuXPvdPcjoHqgraOrQEnp7wxIfbVcK6gPJ4cvpix8xO-7mj7XnRuufk4cK1tzFysqdA

# NEXT_PUBLIC_ENV_NAME=dev
# NEXT_PUBLIC_COGNITO_OPENID_CONF_URI=https://cognito-idp.${region}.amazonaws.com/${cognito_pool_id}/.well-known/openid-configuration
# NEXT_PUBLIC_BACKEND_BASE_URL=http://api:4000

## domain name
NEXT_PUBLIC_DOMAIN_NAME=
NEXT_PUBLIC_ADMIN_EMAIL=

## CYPRESS e2e testing
TEST_CYPRESS_BASEURL=
TEST_CYPRESS_GMAIL_CRED=
TEST_CYPRESS_GMAIL_API_REDIRECT_URI=
TEST_CYPRESS_GMAIL_REFRESH_TOKEN=
TEST_CYPRESS_GMAIL_ACCESS_TOKEN=